
.inner-footer {
  display: block;
  position: relative;
  opacity: 0;
  border-top: 1px solid var(--primary-color);
  padding: 2rem 0;
  -webkit-animation: fade-in 0.3s ease-in 0.6s 1 forwards;
  animation: fade-in 0.3s ease-in 0.6s 1 forwards;
}
.inner-footer ul {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0 0 2rem;
}
.inner-footer ul li a div {
  display: flex;
  justify-content: start;
  align-self: center;
}
.inner-footer ul li a div span {
  padding-left: 0.5rem;
  line-height: 2rem;
  align-self: center;
}
.inner-footer ul li a svg, .inner-footer ul li a span {
  align-self: center;
} 
