.header-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 3rem;
  width: 100%;
  max-width: 660px;
  margin: 0 auto;
  padding: 1.45rem 1.0875rem;
  opacity: 0;
  -webkit-animation: fade-in 0.3s ease-in 0.1s 1 forwards;
  animation: fade-in 0.3s ease-in 0.1s 1 forwards;
}
.header-img {
  align-self: center;
  max-width: 150px;
  border: none;
  border-radius: 100%;
  overflow: hidden;
}
.header-titles {
  align-self: center;
}
.header-titles h1, .header-titles h2 {
  margin: 0;
  color: var(--secondary-color);
}
@media only screen and (min-width: 480px) {
  .header-grid {
    grid-template-columns: 1fr 4fr;
  }
}
