.content-area {
  margin: 0 auto;
  max-width: 660px;
  padding: 0 1.0875rem 1.45rem;
}
.layout .description {
  opacity: 0;
  -webkit-animation: fade-in 0.3s ease-in 0.4s 1 forwards;
  animation: fade-in 0.3s ease-in 0.4s 1 forwards;
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
